<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/wp4112171-friends-tv-show-wallpapers.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{message}}
        </div>
        
        {{>footer}}
    </body>
</html>