<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.jpg">
        <!--Since i used=> app.use(express.static(publicDirectory)) in src/app.js and provided
        the public directory path, all the src or href is in the public directory, in other words
        the starting point is public folder  -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/649986.jpg">
            <p><bold> Strongest man on the earth and the legendary WhiteBeard pirates leader- {{name}} famously known as {{pirateName}}</bold> </p>
        </div>
        
        {{>footer}}
    </body>
</html>